* {
    padding: 0;
    margin: 0;
}
body {
    height: 100vh;
    width: 100%;
}
.chiSiamo{
    width: 100%;
    height: 100vh;
    background-color: rgb(126, 168, 231);
}

/*TITOLO*/

.chiSiamo .titolo {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 55px;
}
.chiSiamo .titolo a {
    font-family: 'Roboto', sans-serif;
    font-size: 300%;
    color: #051C31;
}
.chiSiamo .titolo div {
    height: 11px;
    width: 56px;
    background: #051C31;
    border-radius: 33px;
}


.chiSiamo .main{
    width: 100%;
    height: 85vh;
    display: flex;
    flex-direction: column;
}
/*TESSERE*/
.chiSiamo .main .tessere{
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

/*TESSERA DIRETTIVO*/
.chiSiamo .main .tessere .tDirettivo{
    height: 100%;
    width: 25%;
    border-radius: 31px;
    background-color: black;
}
.chiSiamo .main .tessere .tDirettivo .divImg{
    width: 100%;
    height: 85%;
    border-radius: 31px 31px 0px 0px;
    background-image: url("/static/media/images/chiSiamo/direttivo.jpg");
    background-position: center;
    background-size: cover;
}
.chiSiamo .main .tessere .tDirettivo .nomeTessere{
    width: 100%;
    height: 15%;
    background-color: #165976;
    border-radius: 0px 0px 31px 31px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.chiSiamo .main .tessere .tDirettivo .nomeTessere a{ 
    font-family: 'Roboto', sans-serif;
    font-size: 200%;
    color: #e7e7e7;
}

/*TESSERA ALLENATORI*/
.chiSiamo .main .tessere .tAllenatori{
    height: 100%;
    width: 25%;
    border-radius: 31px;
    background-color: black;
}
.chiSiamo .main .tessere .tAllenatori .divImg{
    width: 100%;
    height: 85%;
    border-radius: 31px 31px 0px 0px;
    background-image: url("/static/media/images/chiSiamo/Allenatori.jpg");
    background-position: center;
    background-size: cover;
}
.chiSiamo .main .tessere .tAllenatori .nomeTessere{
    width: 100%;
    height: 15%;
    background-color: #165976;
    border-radius: 0px 0px 31px 31px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.chiSiamo .main .tessere .tAllenatori .nomeTessere a{
    font-family: 'Roboto', sans-serif;
    font-size: 200%;
    color: #e7e7e7;
}

/*TESSERA REGOLAMENTO*/
.chiSiamo .main .tessere .tRegolamento{
    height: 100%;
    width: 25%;
    border-radius: 31px;
    background-color: black;
}
.chiSiamo .main .tessere .tRegolamento .divImg{
    width: 100%;
    height: 85%;
    border-radius: 31px 31px 0px 0px;
    background-image: url("/static/media/images/chiSiamo/regolamento.jpg");
    background-position: center;
    background-size: cover;
}
.chiSiamo .main .tessere .tRegolamento .nomeTessere{
    width: 100%;
    height: 15%;
    background-color: #165976;
    border-radius: 0px 0px 31px 31px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.chiSiamo .main .tessere .tRegolamento .nomeTessere a{
    font-family: 'Roboto', sans-serif;
    font-size: 200%;
    color: #e7e7e7;
}
.chiSiamo .ChiSiamoScritte{
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.chiSiamo .ChiSiamoScritte .scritte{
    width: 88%;
    height: auto;
    font-family: 'Roboto', sans-serif;
    font-size: 130%;
    color: #000000;
}
.chiSiamo .ChiSiamoScritte .scritte .scritteSopra{
    width: 100%;
    height: 95%;
}
.chiSiamo .ChiSiamoScritte .scritte .leggiAltro{
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.chiSiamo .ChiSiamoScritte .scritte .leggiAltro a{
    font-family: 'Roboto', sans-serif;
    font-size: 120%;
    color: #165976;
    opacity: 70%;
}