@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
}
body {
    height: auto;
    width: 100%;
}

/* CHI SIAMO SECTION */
.chiSiamo {
    width: 100%;
    height: auto;
    margin-bottom: 100px;
}
.chiSiamo .titolo {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 55px;
}
.chiSiamo .titolo a {
    font-family: 'Roboto', sans-serif;
    font-size: 300%;
    color: #051C31;
}
.chiSiamo .titolo div {
    height: 11px;
    width: 56px;
    background: #051C31;
    border-radius: 33px;
}
.chiSiamo .main{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}
.chiSiamo .main .tessere{
    width: 100%;
    height: 400px; /* REVISIONARE CON MAGLIO */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.chiSiamo .main .tessere .tDirettivo{
    height: 100%;
    width: 25%;
    border-radius: 31px;
    overflow: hidden;
}
.chiSiamo .main .tessere .tDirettivo:hover > .nomeTessere{
    transform: translateY(-85%);
}
.chiSiamo .main .tessere .tDirettivo .divImg{
    width: 100%;
    height: 85%;
    border-radius: 31px 31px 0px 0px;
    background-image: url("/static/media/images/chiSiamo/direttivo.jpg");
    background-position: center;
    background-size: cover;
}
.chiSiamo .main .tessere .tDirettivo .nomeTessere{
    width: 100%;
    height: 100%;
    background-color: #165976;
    border-radius: 0px 0px 31px 31px;
    display: flex;
    justify-content: center;
    position: relative;  
    transition-duration: 0.5s;  
    display: flex;
    flex-direction: column;
}
.chiSiamo .main .tessere .tDirettivo .nomeTessere .sopra{
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.chiSiamo .main .tessere .tDirettivo .nomeTessere a{ 
    font-family: 'Roboto', sans-serif;
    font-size: 200%;
    color: #e7e7e7;
}
.chiSiamo .main .tessere .tDirettivo .nomeTessere .sotto{
    width: 100%;
    height: 85%;
}
.chiSiamo .main .tessere .tAllenatori{
    height: 100%;
    width: 25%;
    border-radius: 31px;    
    overflow: hidden;
}
.chiSiamo .main .tessere .tAllenatori:hover > .nomeTessere{
    transform: translateY(-85%);
}
.chiSiamo .main .tessere .tAllenatori .divImg{
    width: 100%;
    height: 85%;
    border-radius: 31px 31px 0px 0px;
    background-image: url("/static/media/images/chiSiamo/Allenatori.jpg");
    background-position: center;
    background-size: cover;
}
.chiSiamo .main .tessere .tAllenatori .nomeTessere{
    width: 100%;
    height: 100%;
    background-color: #165976;
    border-radius: 0px 0px 31px 31px;
    display: flex;
    justify-content: center;
    position: relative;  
    transition-duration: 0.5s;  
    display: flex;
    flex-direction: column;
}
.chiSiamo .main .tessere .tAllenatori .nomeTessere .sopra{
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.chiSiamo .main .tessere .tAllenatori .nomeTessere a{ 
    font-family: 'Roboto', sans-serif;
    font-size: 200%;
    color: #e7e7e7;
}
.chiSiamo .main .tessere .tAllenatori .nomeTessere .sotto{
    width: 100%;
    height: 85%;
}
.chiSiamo .main .tessere .tRegolamento{
    height: 100%;
    width: 25%;
    border-radius: 31px;    
    overflow: hidden;
}
.chiSiamo .main .tessere .tRegolamento:hover > .nomeTessere{
    transform: translateY(-85%);
}
.chiSiamo .main .tessere .tRegolamento .divImg{
    width: 100%;
    height: 85%;
    border-radius: 31px 31px 0px 0px;
    background-image: url("/static/media/images/chiSiamo/regolamento.jpg");
    background-position: center;
    background-size: cover;
}
.chiSiamo .main .tessere .tRegolamento .nomeTessere{
    width: 100%;
    height: 100%;
    background-color: #165976;
    border-radius: 0px 0px 31px 31px;
    display: flex;
    justify-content: center;
    position: relative;  
    transition-duration: 0.5s;  
    display: flex;
    flex-direction: column;
}
.chiSiamo .main .tessere .tRegolamento .nomeTessere .sopra{
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.chiSiamo .main .tessere .tRegolamento .nomeTessere a{ 
    font-family: 'Roboto', sans-serif;
    font-size: 200%;
    color: #e7e7e7;
}
.chiSiamo .main .tessere .tRegolamento .nomeTessere .sotto{
    width: 100%;
    height: 85%;
}
.chiSiamo .main .ChiSiamoScritte{
    width: 100%;
    height: 40%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.chiSiamo .main .ChiSiamoScritte .scritte{
    width: 88.5%;
    height: 90%;
}
.chiSiamo .main .ChiSiamoScritte .scritte .scritteSopra{
    width: 100%;
    height: 60%;
}
.chiSiamo .main .ChiSiamoScritte .scritte .scritteSopra a{
    font-family: 'Roboto', sans-serif;
    font-size: 150%;
    color: #051C31;
}
.chiSiamo .main .ChiSiamoScritte .scritte .leggiAltro{
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
}
.chiSiamo .main .ChiSiamoScritte .scritte .leggiAltro a{
    font-family: 'Roboto', sans-serif;
    font-size: 150%;
    color: #165976;
    margin-top: 20px;
}
/**/

/* ATTIVITA SECTION */

/**/

/* NEWS SECTION */
.news {
    height: auto;
    width: 100%;
    background: transparent;
    display: flex;
    flex-direction: column;
}
.news .titolo {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.news .titolo a {
    font-family: 'Roboto', sans-serif;
    font-size: 300%;
    color: #051C31;
}
.news .titolo div {
    height: 11px;
    width: 56px;
    background: #051C31;
    border-radius: 33px;
}
.news .main {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 55px;
}
.news .main .leftSection {
    height: auto;
    width: calc(50% - 50px / 2);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 10%;
}
.news .main .centralSection {
    height: auto;
    width: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.news .main .rightSection {
    height: auto;
    width: calc(50% - 50px / 2);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 10%;
}
/**/
